body {
	margin: 0;
	padding: 0;
	font-family: "Arial", Times, sans-serif; 	
}

nav {
	padding: 0px 30px;
}

a {
	font-weight: bold;
}

h5 {
	padding-bottom-height: 200px;
	display: inline;
}

.container {
	padding-left: 120px;
}

.profile {
	height: 200px;
	display: inline;
	margin-right: 10px;
}


.info {
	display: inline;
	margin-left: 70px;
}

#summary {
	margin: 10px 10px 50px 10px;
	padding: 0px 30px 0px 40px;
	width: 610px;
	height: 300px;
	border-left: 3px outset #b2b2b2;
}

.image {
	max-width: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	margin-top: 10px;
}

.title {
	text-align: center;
}

.pictures {
	margin-top: 100px;
}

.pix {
	max-width: 500px;
	margin:20px;
	display: inline-block;
}
